
<div class="card mt-2 mx-auto" style="width:320px">
   
  <div class="card-header">
      <span class="fa fa-info" aria-hidden="true"></span>
    Business Profile
  </div>
 <div class="card-block">
     <h3 class="card-title text-center">{{model.businessName}}</h3>
  
     <p class="card-text ml-1">{{model.businessDesc}}</p>
 
 <ul class="list-group list-group-flush">
    <li class="list-group-item"><span><i class="fa fa-home" aria-hidden="true"></i></span> {{model.businessAddress}}</li>
    <li class="list-group-item"><span><i class="fa fa-phone" aria-hidden="true"></i></span> {{model.businessPhone}}</li>
   
  </ul>
   
 </div>
 
</div>