<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PesanMudah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if session.isAuthenticated}}
      <li class="nav-item">
        
        {{#link-to "home" class="nav-link"}}Home{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "business" class="nav-link"}}Business{{/link-to}}
      </li>
     {{/if}}
      
    </ul>
    
    <ul class="navbar-nav my-2 my-lg-0">
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          {{#link-to "logout" class="nav-link"}}Log Out{{/link-to}}
        </li>
      {{/if}}
            {{#unless session.isAuthenticated}} 
              <li class="nav-item">
                   {{#link-to "login" class="nav-link"}}Login{{/link-to}}
              </li>
            {{/unless}}
    </ul>
   
  </div>
</nav>

<div class="container">
{{outlet}}
</div>