     <div class="row justify-content-md-center mt-2" >
   <div class="card "  style="width:320px">
        <div class="card-header"><h4>Business Entity</h4>
        
        {{#link-to "entities.add" class="btn btn-primary"}}
        <i class="fa fa-plus" aria-hidden="true"></i>{{/link-to}}
         
        </div>
  <div class="card-body">
   
    <p class="card-text">Business entities is the important component</p>
  
  </div>
</div>
</div>
    
{{outlet}}
