<div class="card mt-2 mx-auto" style="width:20rem;">
  <div class="card-header">
    Login 
  </div>
  <div class="card-body">
       <form>
          <div class="form-group">
            
            {{input value=email class="form-control" placeholder="Email" type="text"}}
         
        
          </div>
          <div class="form-group">
           
            {{input value=password class="form-control" placeholder="Password" type="password"}}
          </div>
         
          <button {{action "signIn"}} class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>